* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
table {
	border-collapse: collapse;
	width: 1200px;
	margin: 100px auto;
	padding: 30px;
	border: 10px solid #3a4565;
	font-family: sans-serif;
}

td {
	border-right: 1px solid rgba(0, 0, 0, 0.2);
	background-color: #fafafa;
}

.main-title {
	font-weight: bold;
	font-size: 18px;
	text-transform: uppercase;
}

.table-title:not(:first-child) {
	text-align: center;
	padding: 25px 60px;
	text-transform: uppercase;
	color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.table-title:first-child {
	text-align: center;
	padding: 50px 35px;
}

.table-title:nth-child(2) {
	background-color: #89c331;
}
.table-title:nth-child(3) {
	background-color: #f04a56;
}
.table-title:nth-child(4) {
	background-color: #20807c;
}

/* td {
	border: 1px solid black;
} */

/* caption {
	background-color: green;
}

.table-title {
	background-color: yellow;
}

.table-title:nth-child(2) {
	background-color: pink;
}

.table-title:nth-child(3) {
	background-color: blue;
}

td:not(:first-child) {
    text-align: right;
} */
