* {
	/* m0 */
	margin: 0;
	/* p0 */
	padding: 0;
	box-sizing: border-box;
}

.container {
	/* w1280 */
	width: 1280px;
	margin: 0 auto;
}

body {
	color: #0b3b3c;
	font-family: 'Roboto', sans-serif;
}

ul,
ol {
	list-style: none;
}

a {
	text-decoration: none;
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 23px 0;
}

.menu,
.menu-login {
	display: flex;
	align-items: center;
	column-gap: 30px;
}

.menu-link,
.menu-login-link {
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: #0b3b3c;
	transition: 0.5s;
}

.menu-link:hover,
.menu-login-link:hover {
	color: #7e0707;
}

.hero {
	background-image: url(./img/root-bgi.png);
	/* bgrn */
	background-repeat: no-repeat;
	/* bgsc */
	background-size: cover;
	/* bgp */
	background-position: center;
	padding: 170px 0;
}

.hero-wrapper {
	/* w470 */
	width: 470px;
	margin: 0 auto;
	/* tac */
	text-align: center;
}

.hero-title {
	font-weight: bold;
	font-size: 54px;
	line-height: 80px;
	/* mb23 */
	margin-bottom: 23px;
}

.hero-subtitle {
	font-size: 18px;
	line-height: 30px;
	margin-bottom: 40px;
}

.hero-buttons {
	display: inline-flex;
	flex-direction: column;
	row-gap: 20px;
}

.hero-link {
	padding: 15px 100px;
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
}

.hero-link:first-child {
	background: #7e0707;
	color: #fff;
}

.hero-link:last-child {
	border: 2px solid #7e0707;
	color: #7e0707;
}

.goods {
	/* mt60 */
	margin-top: 60px;
	/* mb60 */
	margin-bottom: 60px;
	text-align: center;
}

.goods-title {
	/* fw400 */
	font-weight: 400;
	font-size: 35px;
	line-height: 60px;
	letter-spacing: 1.2px;
}

.goods-wrapper {
	display: flex;
    justify-content: space-between;
	flex-wrap: wrap;
    row-gap: 6px;
}

.goods-item {
	background: #e8efe9;
    width: calc(50% - 3px);
}
