* {
	/* margin: 0;
	padding: 0; */
	font-family: sans-serif;
}

.container {
	max-width: 1240px;
	padding: 0 20px;
	margin: 0 auto;
}

.email-item {
	cursor: pointer;
	padding: 20px 25px;
	border-radius: 15px;
	box-shadow: 0 0 5px 0 #333;
	margin-bottom: 30px;
}

.email-subject {
	font-size: 24px;
}

.email-subtext-wrapper {
	display: flex;
	flex-direction: column;
	margin: 10px 0 15px;
}

.email-subtext {
	align-self: flex-start;
	font-size: 18px;
	color: #333333;
	margin: 5px 0 0;
}

.email-from::before {
	content: 'from:';
	text-decoration: underline;
	font-size: 18px;
	color: #333;
	margin-right: 10px;
}

.email-to::before {
	content: 'to:';
	text-decoration: underline;
	font-size: 18px;
	color: #333;
	margin-right: 10px;
}

.email-text {
	cursor: text;
	color: #333;
}