a {
	text-decoration: none;
	color: #000;
}

body {
	font-family: sans-serif;
}

.container {
	width: 1280px;
	margin: 0 auto;
}

.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 16px 0;
}

.nav__title {
	font-size: 26px;
	font-weight: bold;
}

.nav__title h1:last-child {
	margin-top: 16px;
	transform: translateX(30px);
}

.nav__list {
	display: flex;
	column-gap: 80px;
}

.nav__list-link {
	color: #2e354a;
	letter-spacing: 1.1px;
}

.nav__list-link:hover {
	text-shadow: 1px 1px #efa5a5;
}

.nav__list-item {
	position: relative;
}

.nav__list-link-last {
	color: white;
	letter-spacing: 1.1px;
}

.nav__list-link-last:hover + .contact__hover {
	opacity: 1;
}

.contact__hover {
	opacity: 0;
	position: absolute;
	bottom: -80px;
	left: 50%;
	transform: translateX(-50%);
	transition: 0.5s;
	border-radius: 8px;
	padding: 16px;
	pointer-events: none;
	background: white;
}

.contact__hover-link:first-child {
	display: inline-block;
	margin-bottom: 10px;
}

.right__background {
	background: #2e354a;
	position: absolute;
	top: 0;
	right: 0;
	height: 100vh;
	width: 17vw;
	z-index: -1;
}

.hero {
	/* mt40 */
	margin-top: 40px;
	background-image: url(../img/candys.png);
	background-repeat: no-repeat;
	background-position: bottom left;
	padding-bottom: 280px;
}

.hero__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.hero__wrapper-name {
	font-size: 40px;
	line-height: 30px;
	margin-bottom: 50px;
}

.hero__wrapper-title {
	font-size: 60px;
	line-height: 60px;
	text-transform: uppercase;
	margin-bottom: 40px;
	margin-left: 50px;
	font-weight: bold;
}

.hero__wrapper-subtitle {
	font-size: 20px;
	line-height: 18px;
	/* mb120 */
	margin-bottom: 120px;
	/* ml30 */
	margin-left: 30px;
}

.hero__wrapper-link {
	padding: 15px 35px;
	border-radius: 22px;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	font-size: 20px;
	background-color: #2e354a;
	color: white;
	transition: all 0.5s ease-in-out;
	margin-left: 350px;
}

.hero__wrapper-link:hover {
	background-color: white;
	color: #2e354a;
	box-shadow: 0 0 0 1px #2e354a;
}

.hero__cake {
	box-shadow: 30px 25px rgba(196, 196, 196, 0.8);
}

.catalog {
	/* mt80 */
	margin-top: 80px;
	/* mb80 */
	margin-bottom: 80px;
	text-align: center;
}

.catalog__title {
	font-size: 40px;
	margin-bottom: 60px;
	font-weight: bold;
}

.catalog__list {
	display: flex;
	justify-content: space-between;
}

.catalog__list-items {
	position: relative;
}

.catalog__hover {
	position: absolute;
	bottom: -30%;
	left: 0;
	width: 100%;
	/* height: 100%; */
	background-color: #2e354a;
	color: white;
	transition: all 0.5s ease-in-out;
	border-radius: 22px;
	padding: 16px 0;
	z-index: -1;
}

.catalog__list-items:hover .catalog__hover {
	bottom: -60%;
}

.catalog__hover-text {
	margin-bottom: 20px;
}

.catalog__hover-link {
	padding: 5px 15px;
	background: #c4c4c4;
	border-radius: 22px;
}

.services {
	margin-top: 120px;
	margin-bottom: 120px;
}

.services__title {
	font-size: 40px;
	margin-bottom: 60px;
	font-weight: bold;
	text-align: center;
}

.services__wrapper {
	display: flex;
	column-gap: 60px;
}

.services__item {
	text-align: center;
	background-color: #2e354a;
	padding: 40px;
	border-radius: 10px;
	color: white;
}

.services__item-icon {
	font-size: 50px;
	margin-bottom: 30px;
	padding: 25px;
	border-radius: 50%;
	color: #2e354a;
	background-color: #fff;
}

.services__item-title {
	font-size: 20px;
	line-height: 26px;
	font-weight: bold;
	margin-bottom: 30px;
}

.services__item-description {
	font-size: 18px;
	line-height: 25px;
}

.services__about {
	margin-top: 60px;
	display: flex;
	align-items: center;
	margin-left: 200px;
}

.services__about-img {
	transform: translateX(30px);
	box-shadow: 30px 25px rgba(196, 196, 196);
}

.services__about-content {
	background-color: #2e354a;
	padding: 50px 30px 30px 80px;
	display: flex;
	flex-direction: column;
	row-gap: 30px;
}

.services__about-title {
	color: white;
	font-size: 25px;
}

.services__about-text {
	color: white;
	font-size: 20px;
	line-height: 28px;
}

.services__about-cake {
	width: 60px;
	align-self: flex-end;
	transition: all 0.5s;
	animation: moveCake alternate-reverse 4s linear infinite;
}

@keyframes moveCake {
	from {
		transform: translateX(-900px);
	} to {
		transform: translateX(0);
	}
}


