/* .flex {
	background-color: coral;
	padding: 25px;
	display: flex;
	height: 100vh;
	justify-content: space-between;
	align-items: center;
}

.flex-item {
	padding: 50px;
	background-color: green;
	margin: 2px;
}

.pseudo {
	position: relative;
} */

/* .pseudo::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 2px; */
/* border-radius: 50%; */
/* background-color: blue;
} */

/* ::selection {
	color: aquamarine;
	background-color: black;
}

p::first-letter {
    font-size: 23px;
    background-color: coral;
} */

/* button { */
/* transition: 500ms; */
/* transition: 1.5s; */
/* margin: 100px; */
/* } */

/* button:hover {
	background-color: red;
	color: lightgreen;
}

button:active {
    box-shadow: 3px 3px grey;
}

button:disabled {
    background-color: rgb(134, 1, 1);
    opacity: 0.7;
} */

/* 
* {
    margin: 0;
    padding: 0;
} 
*/

body {
	height: 100vh;
	background-image: url(https://static-cse.canva.com/blob/572026/removingbackgroundimages_Unsplash.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	/* ffss */
	font-family: sans-serif;
}

.container {
	width: 1030px;
	margin: 0 auto;
}

.nav {
	color: white;
	display: flex;
	justify-content: space-between;
	/* mt50 */
	margin-top: 50px;
	/* mb25 */
	margin-bottom: 25px;
}

.logotype {
	/* df */
	display: flex;
	/* ai */
	align-items: center;
}

.castle {
	width: 53px;
	height: 47px;
	/* mr8 */
	margin-right: 8px;
	/* background-color: white; */
}

.main-title {
	font-weight: bold;
	font-size: 29px;
}
.sub-title {
	font-weight: bold;
	font-size: 18px;
}
.info-user {
	font-size: 18px;
	color: white;
	/* tdn */
	text-decoration: none;
}
.info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
}

.info-user:hover {
	color: orange;
}

.logotype:hover .castle {
	/* background-color: orange; */
	content: url(./img/logo__orange.png);
}
.logotype:hover .main-title {
	color: orange;
}
.logotype:hover .sub-title {
	color: orange;
}

.wrapper {
	width: 300px;
	position: relative;
	overflow: hidden;
}
.wrapper-hover {
	padding: 20px;
	position: absolute;
	left: 0;
	width: 100%;
	bottom: -200%;
	background-color: orange;
	transition: 0.5s;
}

.wrapper:hover .wrapper-hover {
	bottom: 0;
}
