* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    animation: toBig 1s infinite alternate-reverse;
}

@keyframes toBig {
    from {
        font-size: 18px;
    } to {
        font-size: 30px;
    }
}