* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	background-color: #8bc6ec;
	background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
	height: 100vh;
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(2px);

	transition: 0.5s ease-in-out;
}

.modal.active {
	opacity: 0;
	pointer-events: none;
}




/* 1em = 16px */
.modal-wrapper,
.letter-wrapper {
	padding: 1em;
	background-color: #f1faee;
	border-radius: 0.3em;
	text-align: center;
}

.modal-title {
	font-size: 26px;
	margin-bottom: 25px;
	color: #1d3557;
}

.modal-form,
.letter-form {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

.modal-form-text,
.letter-form-text {
	padding: 10px;
	outline: none;
	border: 2px solid #e63946;
	color: #1d3557;
	font-size: 18px;
	border-radius: 26px;
	transition: 0.5s;
}

.modal-form-submit,
.letter-form-submit {
	padding-block: 14px;
	border-radius: 26px;
	color: #f1faee;
	background-color: #e63946;
	border: none;
	outline: none;
}

.modal-form-text:focus,
.modal-form-submit:active,
.letter-form-text:focus,
.letter-form-submit:active {
	box-shadow: 2px 2px 5px #a8dadc;
}

.hangman {
	position: relative;
	margin: 50px;
	min-width: 300px;
}

.line-left,
.line-top,
.line-bot,
.hangman-head,
.hangman-hand-left,
.hangman-hand-right,
.hangman-body,
.hangman-foot-left,
.hangman-foot-right {
	position: absolute;
	background-color: #000;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	z-index: -1;
	display: none;
}

.line-left {
	top: 0;
	left: 0;
	width: 2px;
	height: 400px;
}

.line-top {
	top: 0;
	left: 0;
	width: 100%;
	height: 2px;
}

.line-bot {
	top: 0;
	right: 0;
	width: 2px;
	height: 100px;
}

.hangman-head {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #fff;
	border: 2px solid black;
	top: 100px;
	right: 0;
	transform: translateX(50%);

	background-image: url(./img/avatar.jpg);
	background-position: center;
	background-size: cover;
}

.hangman-body {
	width: 40px;
	height: 80px;
	border-radius: 50%;
	background-color: #fff;
	border: 2px solid black;
	top: 140px;
	right: 0;
	transform: translateX(50%);

	background-image: url(./img/suits.png);
	background-position: center;
	background-size: cover;
}

.hangman-hand-left,
.hangman-hand-right {
	width: 2px;
	height: 40px;
	top: 137px;
	right: 19px;
	transform: rotate(45deg);
}
.hangman-hand-right {
	right: -21px;
	transform: rotate(-45deg);
}

.hangman-foot-left,
.hangman-foot-right {
	width: 2px;
	height: 60px;
	top: 212px;
	right: 21px;
	transform: rotate(25deg);
}
.hangman-foot-right {
	right: -22px;
	transform: rotate(-25deg);
}

.container {
	display: flex;
	justify-content: space-evenly;
}

.letter-wrapper {
	margin-top: 120px;
	align-self: center;
}

.show-letters {
	transform: translateX(-25px);
}

.show-letter-item {
	color: #e63946;
	font-size: 23px;
	font-weight: bold;
}

.word {
	max-width: 1000px;
	margin: 300px auto 0;
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 20px;
}

.word-item {
	padding: 10px 20px;
	font-size: 20px;
	border: 2px solid white;
	background: #f1faee;
	box-shadow: inset 3px 3px 9px rgba(0, 0, 0, 0.15);
	border-radius: 15px;
	color: #1d3557;
	font-weight: 700;
	text-transform: uppercase;

	overflow: hidden;
}

.word-item-text {
	opacity: 0;
	transform: translateY(-30px);
	transition: 0.5s ease-in-out;
}

.word-item-text.active {
	opacity: 1;
	transform: translateY(0);
}

