* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.grid {
    display: grid;
    /* grid-template-columns: repeat(3, 200px); */
    /* justify-content: center; */
    /* grid-template-rows: 150px 500px 300px; */
    padding: 50px;
    background-color: rgb(71, 37, 24);
    grid-template-areas: 
    'head head head search'
    'leftMenu content content content'
    'leftMenu content content content'
    'footer footer footer footer';
}

.grid-child {
    padding: 150px;
    background-color: blue;
    margin: 5px;
}


.head {
    grid-area: head;
    background:green;
}
.search {
    grid-area: search;
    background:gold;
}
.leftMenu {
    grid-area: leftMenu;
    background:yellow;
}
.content {
    grid-area: content;
    background:orange;
}
.footer {
    grid-area: footer;
    background:pink;
}

/* .grid-child:nth-child(2) {
    margin-bottom: 5px;
} */