* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.container {
    width: 1280px;
    margin: 0 auto;   
}

.navigation {
    /* mt63 */
    margin-top: 63px;
    /* mb50 */
    margin-bottom: 50px;
}

.nav-title {
    font-size: 80px;
    margin-bottom: 38px;
}

.nav-title span {
    color: aqua;
}

.nav-menu {
    list-style: none;
    /* bgc */
    background-color: #35444f;
    /* tac */
    text-align: center;
}

.nav-menu-item {
    display: inline-block;
    padding: 23px 33px;
    border-left: 1px solid white;
    transition: 0.5s;
}

.nav-menu-item:hover {
    background-color: aqua;
}

.nav-menu-link {
    /* tdn */
    text-decoration: none;
    color: white;
    font-size: 24px;
}

/* .list {
    display: inline-block;
    list-style: none;
    border: 2px solid black;
}

.list-item {
    padding: 20px;
} */