* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Jura', sans-serif;
}

h1 {
	font-family: 'Montserrat', sans-serif;
}

.ticket {
	width: 800px;
	margin: 150px auto;
	padding: 20px;
	border-radius: 10px;
	border: 2px solid black;
	background-color: #f3f1c9;

	display: grid;

	grid-template-areas:
		'title title title title title'
		'passenger passenger passenger passenger platform'
		'depart depart arrive arrive platform'
		'date time car seat platform';
}

.ticket-title {
	grid-area: title;
	text-align: center;
	/* pt10 */
	padding-top: 10px;
	/* pb10 */
	padding-bottom: 10px;
	background-color: #000;
	color: #f3f1c9;
	font-weight: 900;
	letter-spacing: 5px;
}

.ticket-info {
	border: 1px solid black;
	padding: 10px;
}

.ticket-info-title {
	font-weight: 400;
	font-size: 14px;
	margin-bottom: 8px;
}

.ticket-info-text {
	font-size: 22px;
	font-weight: 700;
}

.passenger {
	grid-area: passenger;
}
.depart {
	grid-area: depart;
}
.arrive {
	grid-area: arrive;
}
.date {
	grid-area: date;
}
.time {
	grid-area: time;
}
.car {
	grid-area: car;
}
.seat {
	grid-area: seat;
}
.platform {
	grid-area: platform;
	background-color: red;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}

.ticket-platform-title {
	font-size: 38px;
	margin-bottom: 15px;
}

.ticket-platform-text {
	font-size: 100px;
	font-weight: 700;
	position: relative;
}

.ticket-platform-text::after {
	content: '3';
	font-size: 30px;
	position: absolute;
	top: 20px;
	right: 100px;
	padding-bottom: 5px;
	border-bottom: 2px solid white;
}
.ticket-platform-text::before {
	content: '4';
	font-size: 30px;
	position: absolute;
	top: 65px;
	right: 100px;
}

