* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	background-image: url(./bg.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.logo {
	margin-top: 80px;
}

.swiper {
	width: 1280px;
}

.moto {
	width: 700px;
}

.swiper-button-prev,
.swiper-button-next {
	color: white;
}

.swiper-slide {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.background-white {
	/* content: ''; */
	position: absolute;
	top: 60%;
	left: 50%;
    transform: translateX(-50%);
	width: 70%;
	height: 250px;
	border-radius: 10px;
	background-color: #fff;
}

.swiper-pagination-bullet {
	width: 60px;
	height: 60px;
	border-radius: 10px;
}
