/* .min-width,
.max-width {
	padding: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 40px;
}

.max-width {
    min-width: 320px;
	max-width: 1280px;
	background-color: orange;
} */

/* .min-width {
	min-width: 600px;
	background-color: red;
} */

/* MOBILE FIRST */
/* @media (min-width: 768px) {
    .max-width {
        font-size: 30px;
    }
}

@media (min-width: 475px) {
    .max-width {
        font-size: 20px;
    }
} */

/* DESCTOP FIRST */
/* @media (max-width: 768px) {
    .max-width {
        font-size: 30px;
    }
}

@media (max-width: 475px) {
    .max-width {
        font-size: 20px;
    }
} */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
}

.container {
	max-width: 1170px;
	min-width: 320px;
	margin: 0 auto;
	padding: 0 16px;
}

.menu-list {
	display: flex;
	justify-content: center;
	list-style: none;
	/* mt45 */
	margin-top: 45px;
	/* mb45 */
	margin-bottom: 45px;
}

.menu-list-item:not(:last-child) {
	margin-right: 68px;
}

.menu-list-link {
	/* tdn */
	text-decoration: none;
	font-size: 11px;
	line-height: 22px;
	text-transform: uppercase;
	color: #4e4e4e;
	letter-spacing: 1.1px;
	transition: 0.5s;
}

.root-img img {
	width: 100%;
	object-fit: cover;
}

.menu-list-link:hover {
	color: #57a4a4;
}

.posts {
	margin-top: 66px;
	margin-bottom: 66px;
}

.posts-title {
	font-weight: bold;
	line-height: 22px;
	text-transform: uppercase;
	color: #4e4e4e;
	margin-bottom: 24px;
}

.posts-wrapper {
	display: grid;
	/* gtc */
	grid-template-columns: 1fr 1fr;
	gap: 25px;
}

.posts-item {
	display: flex;
	column-gap: 20px;
}

.posts-item-title {
	font-weight: bold;
	line-height: 30px;
	color: #4e4e4e;
}

.posts-item-subtitle {
	font-size: 12px;
	line-height: 20px;
	color: #7c7c7c;
	margin-bottom: 13px;
}

.posts-item-text {
	font-size: 14px;
	line-height: 26px;
	color: #5c5c5c;
}

.burger {
	padding: 13px;
	background-color: #000;
	display: none;
	flex-direction: column;
	row-gap: 2px;
	justify-content: center;
	align-items: center;
}

.line {
	width: 17px;
	height: 2px;
	background-color: #fff;
	transition: 0.5s linear;
}

.line.top {
	transform: rotate(45deg) translate(2px, 4px);
}

.line.medium {
	opacity: 0;
	transform: translateX(-200px);
}

.line.bottom {
	transform: rotate(-45deg) translate(1px, -4px);
}

@media (max-width: 768px) {
	.menu-list-item:not(:last-child) {
		margin-right: 34px;
	}

	.menu-list-link {
		font-size: 8px;
	}

	.posts-wrapper {
		grid-template-columns: 1fr;
		row-gap: 35px;
	}
}

@media (max-width: 475px) {
	.posts-item {
		flex-wrap: wrap;
	}

	.posts-item-text {
		display: none;
	}

	.burger {
		display: flex;
	}

	.menu {
		position: relative;
		display: flex;
		justify-content: flex-end;
		margin-block: 23px;
	}

	.menu-list {
		opacity: 0;
		position: absolute;
		right: 0;
		bottom: -206px;
		background: #f5f5f5;
		flex-direction: column;
		transition: 0.5s ease-in-out;
	}
	.menu-list.active {
		opacity: 1;
	}
}
