* {
    /* m0 + Tab */
    margin: 0;
    /* p0 + Tab */
    padding: 0;
}

.menu {
    /* tac + Tab */
    text-align: center;
    margin-top: 26px;
    /* mb26 + Tab */
    margin-bottom: 26px;
}

.menu-link {
    color: red;
    /* tdn + Tab */
    text-decoration: none;
    font-size: 18px;
    /* ttu + Tab */
    text-transform: uppercase;
    /* fwb + Tab */
    font-weight: bold;
    margin-right: 72px;
    /* ffss + Tab */
    font-family: sans-serif;
}

.main-image {
    width: 100%;
}
