.container {
	/* w1280 */
	width: 1280px;
	margin: 0 auto;
}

.bgi {
	background-color: #fbab7e;
	background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: -1;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 25px;
}

.header-menu {
	display: flex;
	list-style: none;
}

.header-title {
	font-size: 30px;
	font-weight: bold;
	font-family: sans-serif;
}

.header-menu_item {
	/* mr35 */
	margin-right: 35px;
}

.header-menu_link {
	/* tdn */
	text-decoration: none;
	color: black;
	font-size: 12px;
	/* ffss */
	font-family: sans-serif;
	text-transform: uppercase;
}
.subheader {
	color: white;
	margin-top: 200px;
	text-align: center;
}
.subheader-title {
	font-size: 80px;
	margin-bottom: 10px;
	font-weight: bold;
}
.subheader-button {
    margin-top: 40px;
    padding: 20px 50px;
    background-color: darkorchid;
    border-radius: 8px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
}
