* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.root {
    padding: 50px;
    background-color: lightpink;
    display: flex;
}

.root-child {
    padding: 20px;
    margin: 5px;
    background-color: red;
    animation: circleSquare 1s infinite alternate-reverse linear;
}
/* .root-child:nth-child(2) {
    animation: circleSquare 1s infinite alternate-reverse linear 0.2s;
}
.root-child:nth-child(3) {
    animation: circleSquare 1s infinite alternate-reverse linear 0.4s;
} */



@keyframes circleSquare {
    from {
        transform: rotate(0);
    } to {
        transform: rotate(360deg);

    }
}