* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #fa8bff;
	background-image: linear-gradient(45deg, #fa8bff 0%, #2bd2ff 52%, #2bff88 90%);
	height: 100vh;
	overflow: hidden;
}

.pacman-top,
.pacman-bottom {
	/* w200 */
	width: 200px;
	/* h100 */
	height: 100px;
	background-color: yellow;
}

.pacman-top {
	border-radius: 50% 50% 0 0 / 100% 100% 0 0;
	transform: rotate(-35deg);
	transform-origin: bottom center;
	position: relative;
	animation: moveTop 0.5s alternate-reverse infinite linear;
}

.pacman-top::before {
	content: '';
	position: absolute;
	top: 40px;
	left: 150px;
	width: 15px;
	height: 15px;
	background-color: black;
}

.pacman-bottom {
	border-radius: 0 0 50% 50% / 0 0 100% 100%;
	transform: rotate(35deg);
	transform-origin: top center;
	animation: moveBottom 0.5s alternate-reverse infinite linear;
}

@keyframes moveTop {
	from {
		transform: rotate(-35deg);
	}
	to {
		transform: rotate(0);
	}
}
@keyframes moveBottom {
	from {
		transform: rotate(35deg);
	}
	to {
		transform: rotate(0);
	}
}

.pacman {
	position: absolute;
	top: 0;
	left: 0;
	animation: pacman 7s infinite linear;
}

@keyframes pacman {
	0% {
		top: 0;
		left: 0;
	}
	24% {
		transform: rotate(0);
		top: 0;
		left: 80vw;
	}
	25% {
		transform: rotate(90deg);
	}
	49% {
		left: 80vw;
		top: 70vh;
		transform: rotate(90deg);
	}
	50% {
		transform: rotate(180deg);
	}
	74% {
		transform: rotate(180deg);
		left: 0;
		top: 70vh;
	}
	75% {
		transform: rotate(270deg);
	}
	99% {
		transform: rotate(270deg);
	}
	100% {
		top: 0;
		left: 0;
		transform: rotate(360deg);
	}
}

.ghost {
	width: 100px;
	height: 80px;
	background-color: red;
	border-radius: 50% 50% 0 0 / 100% 100% 0 0;
	position: relative;
	top: 20px;
	animation: pacman 8s infinite linear ;
}

.left-eye,
.right-eye {
	/* w25+h25 */
	width: 25px;
	height: 25px;
	background-color: white;
	border-radius: 50%;
	position: absolute;
}

.left-eye {
	top: 20px;
	left: 30px;
}
.right-eye {
	top: 20px;
	right: 10px;
}

.left-eye::after,
.right-eye::after {
	content: '';
	position: absolute;
	top: 6px;
	left: 10px;
	width: 15px;
	height: 15px;
	background-color: #00dbde;
	background-image: linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);
	border-radius: 50%;
}
