/* body {
    padding: 50px;
}


input::placeholder {
    color: coral;
    font-size: 10px;
} */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Ubuntu', sans-serif;
}

.root-bgi {
	background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQP63qD0at3DYyIm0n5Ihj4dGwWjGvjqnrMIA&usqp=CAU');
	/* background-image: url(./nameImage); */
	/* bgs */
	background-size: cover;
	/* bgr */
	background-repeat: no-repeat;
	/* bgp */
	background-position: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: -1;
}

.header {
	background-color: rgba(0, 0, 0, 0.5);
	padding: 18px 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-title {
	font-size: 22px;
	text-transform: uppercase;
	color: white;
}

.header-text {
	font-size: 14px;
	color: white;
}
.header-link {
	text-decoration: none;
	color: white;
}

.header-link,
.header-title {
	transition: 0.5s;
}

.header-title:hover,
.header-link:hover {
	color: lightgreen;
}

.wrapper {
	width: 444px;
	margin: 55px auto 0;
	background-color: white;
	padding: 30px 60px;
	position: relative;
}

.wrapper::after {
	content: '';
	/* posa */
	position: absolute;
	top: 30px;
	left: 0;
	/* w18 */
	width: 18px;
	/* h18 */
	height: 18px;
	background-color: lightgreen;
}

.wrapper-signin {
   /* df */
    display: flex;
    /* jcsb */
    justify-content: space-between;
    /* aic */
    align-items: center;
}

.form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}


.form-field {
	border: 1px solid #F2F2F2;
	border-radius: 4px;
	padding: 14px 0 16px 20px;
}

.form-field::placeholder {
	color: #BEBEBE;
	font-size: 14px;
}

.form-field:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    border: none;
    outline: none;
}